<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif">
    <!-- Header -->
    {{ block "header" . }}
    <!-- {{ partial "nav" . }} -->
    {{end}}

    <!-- Main -->
    {{ block "main" . }}

    <!-- Footer -->
    {{ end }} {{ block "footer" . }}

    <!-- Scripts -->
    {{ partial "footer" . }}{{end}} {{ $script := .Site.Data.webpack.main }} {{
    with $script.js }}
    <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
