{{ define "main" }}

<div class="menu">
  {{ range .Params.items }}
  <div class="section">
    <div class="section-header">
      <h1>{{ .title }}</h1>
      <h4>{{ .description }}</h4>
    </div>

    {{ range .items }}
    <div class="item">
      <div>
        <img src="{{ .image }}" />
        <div>
          <h3>{{ .name }}</h3>
          <p>{{ .description }}</p>
        </div>
      </div>
      <div>
        <h3>{{ .price }}</h3>

        {{ if .spicy }}
        <div class="spicy">
          {{ range $index, $num := (seq .spicy) }}
          <img src="/img/icons/spicy.svg" />
          {{ end}}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>

<div class="end"><a class="back" href="/">Torna alla home</a></div>

{{ if .Params.alert }}
<div class="alert">
  <h3>{{ .Params.alert.title }}</h3>
  <p>{{ .Params.alert.content }}</p>
</div>
{{ end }} {{ end }}
