/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */

/* External Library Includes */
@import "./imports/_reset";

/* Modules */
@import "./imports/_box-sizing";
@import "./imports/_images";
@import "./imports/_background-size";
@import "./imports/_background-position";
@import "./imports/_outlines";
@import "./imports/_borders";
@import "./imports/_border-radius";
@import "./imports/_border-style";
@import "./imports/_border-widths";
@import "./imports/_border-colors";
@import "./imports/_code";
@import "./imports/_coordinates";
@import "./imports/_clears";
@import "./imports/_display";
@import "./imports/_flexbox";
@import "./imports/_floats";
@import "./imports/_font-style";
@import "./imports/_font-weight";
@import "./imports/_forms";
@import "./imports/_heights";
@import "./imports/_line-height";
@import "./imports/_links";
@import "./imports/_lists";
@import "./imports/_max-widths";
@import "./imports/_widths";
@import "./imports/_overflow";
@import "./imports/_position";
@import "./imports/_opacity";
@import "./imports/_spacing";
@import "./imports/_text-decoration";
@import "./imports/_text-align";
@import "./imports/_text-transform";
@import "./imports/_type-scale";
@import "./imports/_typography";
@import "./imports/_utilities";
@import "./imports/_visibility";
@import "./imports/_white-space";
@import "./imports/_vertical-align";
@import "./imports/_states";
@import "./imports/_z-index";
@import "./imports/_styles";
@import "./imports/_buttons";
@import "./imports/_svg";
@import "./imports/_cms";

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import "./imports/_colors";
@import "./imports/_media-queries";
@import "./imports/_variables";

/* Debugging */
@import "./imports/_debug-children";
@import "./imports/_debug-grid";

/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/

a {
  border: none !important;
  box-shadow: none !important;
}

.menu-wrap {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.menu-wrap > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--black);
  color: var(--primary);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}

.menu-wrap > a:before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-wrap > a > h1 {
  position: relative;
  z-index: 1;
}

.menu-wrap > #logo {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: var(--black);
  width: 120px;
  height: 120px;
  transform: translateX(-50%) translateY(-50%);
  /* border: 1px solid var(--primary); */
  background-image: url("/img/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 28px;
}

.menu {
  background-color: var(--black);
  color: var(--white);
  padding: 15px;
}

.menu > .section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--primary);
}

.menu > .section > .section-header {
  margin-bottom: 20px;
}

.menu > .section > .section-header h4 {
  font-weight: 400;
  color: #999;
}

.menu > .section > .item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu > .section > .item > div:first-child {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 10px;
}

.menu > .section > .item > div.no-image {
  grid-template-columns: auto;
}

.menu > .section > .item > div:first-child p {
  color: #999;
}

.menu > .section > .item > div:last-child {
  justify-self: flex-end;
  align-self: flex-start;
  text-align: right;
}

.menu > .section > .item .image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.menu > .section > .item .spicy {
  display: flex;
  justify-content: flex-end;
}

.menu > .section > .item .spicy img {
  width: 18px;
  height: 18px;
  margin: 0;
  transform: scaleX(-1) rotate(70deg);
}

p {
  margin: 0;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.end .back {
  color: var(--primary);
  text-decoration: none;
}

.end .back:focus {
  box-shadow: none;
}

.skip {
  color: #5e5957;
  text-decoration: none;
}

.alert {
  color: #5e5957;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert p {
  font-weight: 400;
}

.footer {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
}

.footer p {
  font-weight: 400;
  color: var(--grey-2);
}

.footer p a {
  text-decoration: none;
}

.footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer .social i {
  color: var(--primary);
  font-size: 30px;
}

.newsletter form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid {
  display: grid;
}

.gap-20 {
  gap: 20px;
}

.grid.cols-2 {
  grid-template-columns: 1fr 1fr;
}

.grid > *.span-2 {
  grid-column: span 2;
}

.d-flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.fd-column {
  flex-direction: column;
}

.mb-40 {
  margin-bottom: 40px;
}

.newsletter {
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.newsletter img {
  width: 60px;
  display: block;
  margin: 0 auto 10px;
}

.call {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  align-items: stretch;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.call a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.call a i {
  font-size: 24px;
}

.call.shadow {
  background: rgb(31, 27, 25);
  background: -moz-linear-gradient(
    0deg,
    rgba(31, 27, 25, 1) 0%,
    rgba(31, 27, 25, 0.4) 75%,
    rgba(31, 27, 25, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(31, 27, 25, 1) 0%,
    rgba(31, 27, 25, 0.4) 75%,
    rgba(31, 27, 25, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(31, 27, 25, 1) 0%,
    rgba(31, 27, 25, 0.4) 75%,
    rgba(31, 27, 25, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1b19",endColorstr="#1f1b19",GradientType=1);
}

.btn-whatsapp {
  background-color: #128c7e;
}
