/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */

/* External Library Includes */
@import "./imports/_reset";

/* Modules */
@import "./imports/_box-sizing";
@import "./imports/_images";
@import "./imports/_background-size";
@import "./imports/_background-position";
@import "./imports/_outlines";
@import "./imports/_borders";
@import "./imports/_border-radius";
@import "./imports/_border-style";
@import "./imports/_border-widths";
@import "./imports/_border-colors";
@import "./imports/_code";
@import "./imports/_coordinates";
@import "./imports/_clears";
@import "./imports/_display";
@import "./imports/_flexbox";
@import "./imports/_floats";
@import "./imports/_font-style";
@import "./imports/_font-weight";
@import "./imports/_forms";
@import "./imports/_heights";
@import "./imports/_line-height";
@import "./imports/_links";
@import "./imports/_lists";
@import "./imports/_max-widths";
@import "./imports/_widths";
@import "./imports/_overflow";
@import "./imports/_position";
@import "./imports/_opacity";
@import "./imports/_spacing";
@import "./imports/_text-decoration";
@import "./imports/_text-align";
@import "./imports/_text-transform";
@import "./imports/_type-scale";
@import "./imports/_typography";
@import "./imports/_utilities";
@import "./imports/_visibility";
@import "./imports/_white-space";
@import "./imports/_vertical-align";
@import "./imports/_states";
@import "./imports/_z-index";
@import "./imports/_styles";
@import "./imports/_buttons";
@import "./imports/_svg";
@import "./imports/_cms";

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import "./imports/_colors";
@import "./imports/_media-queries";
@import "./imports/_variables";

/* Debugging */
@import "./imports/_debug-children";
@import "./imports/_debug-grid";

/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/

.menu-wrap {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.menu-wrap > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--grey-4);
  color: var(--white);
  border: none !important;
  box-shadow: none !important;
}

#food {
  border-right: 1px solid var(--primary) !important;
  border-bottom: 1px solid var(--primary) !important;
}
#wines {
  border-left: 1px solid var(--primary) !important;
  border-top: 1px solid var(--primary) !important;
}

.menu-wrap > #logo {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: var(--black);
  width: 150px;
  height: 150px;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid var(--primary);
}

h1 {
  font-size: 30px;
}

.menu {
  background-color: var(--black);
  color: var(--white);
  padding: 15px;
}

.menu > .section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--primary);
}

.menu > .section > .section-header {
  margin-bottom: 20px;
}

.menu > .section > .section-header h4 {
  font-weight: 100;
}

.menu > .section > .item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu > .section > .item > div:first-child {
  display: flex;
  align-items: center;
}

.menu > .section > .item > div:last-child {
  justify-self: flex-end;
  align-self: flex-start;
}

.menu > .section > .item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

p {
  margin: 0;
  width: 100%;
  font-weight: 100;
  font-size: 12px;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.end .back {
  color: var(--primary);
  text-decoration: none;
}

.end .back:focus {
  box-shadow: none;
}