{{ define "main" }}
<div class="menu-wrap" id="full-height">
  <a id="food" href="/food"><h1>Food</h1></a>
  <a id="drinks" href="/drinks"><h1>Drinks</h1></a>
  <a id="beers" href="/beers"><h1>Beers</h1></a>
  <a id="wines" href="/wines"><h1>Wines</h1></a>

  <div id="logo"></div>
</div>

<div class="footer">
  <h4>Mythai Asian Restaurant</h4>
  <p>Via 5 Febbraio, 135 - 47895 Domagnano (RSM)</p>
  <p>Tel. 0549 964723</p>
  <p>mythaism@gmail.com</p>

  <div class="social">
    <a href="https://www.instagram.com/mythai_asianrestaurant/" target="_blank">
      <i class="lab la-instagram"></i>
    </a>
    <a href="https://www.facebook.com/MYTHAIasianrestaurant/" target="_blank">
      <i class="lab la-facebook"></i
    ></a>
  </div>
</div>
{{ end }}
