{{ define "main" }}
<div class="menu-wrap" id="full-height">
  {{ range .Params.sections }}
  <a href="{{ .link }}" style="background-image: url({{ .image }})"
    ><h1>{{.title}}</h1></a
  >
  {{ end }}

  <div id="logo"></div>
</div>

<div class="footer">
  <h4>Mythai Asian Restaurant</h4>
  <p>Via 5 Febbraio, 135 - 47895 Domagnano (RSM)</p>
  <p>Tel. 0549 964723</p>
  <p><a href="mailto:mythaism@gmail.com">mythaism@gmail.com</a></p>

  <div class="social">
    <a href="https://www.instagram.com/mythai_asianrestaurant/" target="_blank">
      <i class="lab la-instagram"></i>
    </a>
    <a href="https://www.facebook.com/MYTHAIasianrestaurant/" target="_blank">
      <i class="lab la-facebook"></i
    ></a>
  </div>
</div>
{{ end }}
